table, th, td {
    border: 1px solid black
}

table {
    border-collapse: collapse;
    width: 800px;
    height: 150px;
    padding-left: 15pt;
}

table tr:nth-child(odd) {
    background-color: #eee
}

td {
    text-align: center
}
